<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1043900447790-1oacbm7qt9t8h5n9vvjlb6uegvm697qb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1043900447790-1oacbm7qt9t8h5n9vvjlb6uegvm697qb</string>
	<key>API_KEY</key>
	<string>AIzaSyBcNgghoNvddMcOfOn_y43gGi5TXSiLGfw</string>
	<key>GCM_SENDER_ID</key>
	<string>1043900447790</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kryspy</string>
	<key>PROJECT_ID</key>
	<string>kryspy-b0753</string>
	<key>STORAGE_BUCKET</key>
	<string>kryspy-b0753.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1043900447790:ios:128f383ac2fa18be7133bf</string>
</dict>
</plist>